# Ignore lake polygon object (because it is huge)
data/Norwegian_lakes.rds

# Ignore covariates (because I don't know if I can share them)
data/environmental_covariates.RDS

# Ignore all saved output
R/output/*

# Ignore GBIF downloads
Nordic_Species_Observation_Services/data/*

# Ignore Nordic presence/absence data
Fish_status_survey_of_nordic_lakes/data/*

# Ignore all .DS_Store files
*.DS_Store
.Rproj.user
